{% extends "template.html" %}

{% block content %}
   
   <h2>Welcome</h2>

      <p>While Turkish troops watched the fighting in Kobani through a chicken-wire fence, Turkey’s president, Recep Tayyip Erdogan, said that the town was about to fall and Kurdish fighters warned of an impending bloodbath if they were not reinforced — fears the United States shares.</p>
      <p>But Mr. Erdogan said Tuesday that Turkey would not get more deeply involved in the conflict with the Islamic State unless the United States agreed to give greater support to rebels trying to unseat the Syrian president, Bashar al-Assad. That has deepened tensions with President Obama, who would like Turkey to take stronger action against the Islamic State and to leave the fight against Mr. Assad out of it.</p>

{% endblock %}